In [10]:
import pandas as pd
pd.set_option('display.max_rows', 1000)

In [2]:
df = pd.read_csv('edgeprop2/prophouselist_1366.csv', header=0, sep='\t', index_col=False)
df = df.drop(df.columns[0], axis=1)
num = len(df.index)
num

24641

In [145]:
df['Property Name'] = df['Property Name'].str.upper()
df['Property Location'] = df['Property Location'].str.upper()
df['Property Info'] = df['Property Info'].str.upper()

### Clean property name

In [147]:
propNameKeywords = ['INVEST','EXCLUSIVE','PROJECT','CORNER','STOREY','BUNGALOW','SEMI D','SEMI-D','FREEHOLD','INVESTMENT','MRT','LUXURY','LOAN','BELOW','MARKET','LAST',
                  'DENSITY','PANORAMIC','SPACIOUS','INSTALLMENT','DENSE','URGENT','LRT','SKYLINE','CASH BACK','CASHBACK','DOWNPAYMENT','DOWN PAYMENT','TERRANCE','HOUZKEY',
                  'TOWN HOUSE','TOWNHOUSE','RENTAL','DUPLEX','NEXT','MODERN','STYLE','BULK DEAL','DEAL','FURNISH','FURNISHED','LAUNCH','LAUNCHED','FULL','AMENITIES',
                   'BESIDE','TRANSPORT','INSTALL','NEW','UNIT','LOWEST','PRICE','END','LOT','SAVE','ONLY','MURAH','TENANT','DEKAT','SALE','SUPERLINK','HOC'
                   'DOUBLE','RENO','RENOVATE','RENOVATED','INDUSTRIAL','LEASEHOLD','ACRES','HOC','ACRE','AGRICULTURAL','BOOKING','KEYS','KEY','DIRECT','HIGHWAY',
                   'REBATE','LINK TO','NEAR']

In [148]:
propNameFilteredDF = df[~df['Property Name'].str.contains('|'.join(propNameKeywords))]
len(propNameFilteredDF)

19070

propNameFilteredDF.loc[24310][0]

In [149]:
propNameFilteredDF[propNameFilteredDF['Property Name'].str.contains('NEARBY')]

Empty DataFrame
Columns: [Property Name, Property Location, Price, Property Info]
Index: []

In [161]:
# Double check if all data are KL and Selangor
states = ['KUALA LUMPUR','SELANGOR']
propNameFilteredDF[propNameFilteredDF['Property Location'].str.contains('|'.join(states))]

,Property Name,Property Location,Price,Property Info
0,THE VALLEY RESIDENCES,"JALAN TAMAN SETIAWANGSA, TAMAN SETIAWANGSA, KU...","From RM 508,000",New Project
2,DESA PARKCITY (THE WESTSIDE I),"JALAN RESIDEN UTAMA, DESA PARKCITY, KUALA LUMPUR","RM 1,450,000MUST SEE",Non Landed2 + 2 beds2 bath2 carparkRM 782/sqft...
3,TAMAN KINTAMAN,"KLANG, SELANGOR","RM 340,000MUST SEE",Landed4 beds2 bathRM 412/sqft825 sqft
4,BANDAR MAHKOTA CHERAS,"PERSIARAN MAHKOTA CHERAS, CHERAS, SELANGOR","RM 510,299MUST SEE",Landed4 + 1 beds4 bath2 carparkRM -- sqft
5,KOTA WARISAN,"JALAN WARISAN MULIA 4/1, KOTA WARISAN, SEPANG,...","RM 451,277MUST SEE",Landed4 + 1 beds4 bath2 carparkRM -- sqft
...,...,...,...,...
24628,ONE EQUINE,"ONE EQUINE, JLN EQUINE 10, TAMAN EQUINE, 43300...","RM 567,900",Non Landed3 beds2 bath2 carparkRM 584/sqft972 ...
24630,BANDAR BARU SALAK TINGGI,"OFF ROAD 820, 43900 SEPANG, SEPANG, SELANGOR","RM 499,000",Landed4 beds3 bathRM -- sqft
24631,SALAK,"BANGI, SELANGOR","RM 550,000",Landed4 beds9 bath2 carparkRM -- sqft
24632,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR","RM 1,154,000",Non Landed3 + 1 beds2 bath2 carparkRM 734/sqft...
24633,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR","RM 1,246,000",Non Landed3 + 2 beds3 bath3 carparkRM 723/sqft...

### Cleaning Price Column

In [171]:
propNameFilteredDF.dtypes

Property Name        object
Property Location    object
Price                object
Property Info        object
dtype: object

In [184]:
df_clean_2 = propNameFilteredDF[~propNameFilteredDF['Price'].str.contains('From')]

In [185]:
df_clean_2

,Property Name,Property Location,Price,Property Info
2,DESA PARKCITY (THE WESTSIDE I),"JALAN RESIDEN UTAMA, DESA PARKCITY, KUALA LUMPUR","RM 1,450,000",NON LANDED2 + 2 BEDS2 BATH2 CARPARKRM 782/SQFT...
3,TAMAN KINTAMAN,"KLANG, SELANGOR","RM 340,000",LANDED4 BEDS2 BATHRM 412/SQFT825 SQFT
4,BANDAR MAHKOTA CHERAS,"PERSIARAN MAHKOTA CHERAS, CHERAS, SELANGOR","RM 510,299",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
5,KOTA WARISAN,"JALAN WARISAN MULIA 4/1, KOTA WARISAN, SEPANG,...","RM 451,277",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
6,"DUTA VILLA, PUTRAJAYA","JALAN P14A 1/1, PRESINT 14, PUTRAJAYA, SELANGOR","RM 438,900",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
...,...,...,...,...
24628,ONE EQUINE,"ONE EQUINE, JLN EQUINE 10, TAMAN EQUINE, 43300...","RM 567,900",NON LANDED3 BEDS2 BATH2 CARPARKRM 584/SQFT972 ...
24630,BANDAR BARU SALAK TINGGI,"OFF ROAD 820, 43900 SEPANG, SEPANG, SELANGOR","RM 499,000",LANDED4 BEDS3 BATHRM -- SQFT
24631,SALAK,"BANGI, SELANGOR","RM 550,000",LANDED4 BEDS9 BATH2 CARPARKRM -- SQFT
24632,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR","RM 1,154,000",NON LANDED3 + 1 BEDS2 BATH2 CARPARKRM 734/SQFT...
24633,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR","RM 1,246,000",NON LANDED3 + 2 BEDS3 BATH3 CARPARKRM 723/SQFT...

In [186]:
df_clean_2['Price'] = df_clean_2['Price'].str.replace('[RM,]', '', regex=True)

C:\Users\mapro\AppData\Local\Temp\ipykernel_32936\2056821905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_2['Price'] = df_clean_2['Price'].str.replace('[RM,]', '', regex=True)

In [187]:
df_clean_2['Price'] = df_clean_2['Price'].str.replace('MUST SEE','')

C:\Users\mapro\AppData\Local\Temp\ipykernel_32936\3619463293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_2['Price'] = df_clean_2['Price'].str.replace('MUST SEE','')

In [189]:
df_clean_2

,Property Name,Property Location,Price,Property Info
2,DESA PARKCITY (THE WESTSIDE I),"JALAN RESIDEN UTAMA, DESA PARKCITY, KUALA LUMPUR",1450000,NON LANDED2 + 2 BEDS2 BATH2 CARPARKRM 782/SQFT...
3,TAMAN KINTAMAN,"KLANG, SELANGOR",340000,LANDED4 BEDS2 BATHRM 412/SQFT825 SQFT
4,BANDAR MAHKOTA CHERAS,"PERSIARAN MAHKOTA CHERAS, CHERAS, SELANGOR",510299,LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
5,KOTA WARISAN,"JALAN WARISAN MULIA 4/1, KOTA WARISAN, SEPANG,...",451277,LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
6,"DUTA VILLA, PUTRAJAYA","JALAN P14A 1/1, PRESINT 14, PUTRAJAYA, SELANGOR",438900,LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
...,...,...,...,...
24628,ONE EQUINE,"ONE EQUINE, JLN EQUINE 10, TAMAN EQUINE, 43300...",567900,NON LANDED3 BEDS2 BATH2 CARPARKRM 584/SQFT972 ...
24630,BANDAR BARU SALAK TINGGI,"OFF ROAD 820, 43900 SEPANG, SEPANG, SELANGOR",499000,LANDED4 BEDS3 BATHRM -- SQFT
24631,SALAK,"BANGI, SELANGOR",550000,LANDED4 BEDS9 BATH2 CARPARKRM -- SQFT
24632,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR",1154000,NON LANDED3 + 1 BEDS2 BATH2 CARPARKRM 734/SQFT...
24633,SAPPHIRE PARADIGM,"JALAN SS7/26A, PETALING JAYA, SELANGOR",1246000,NON LANDED3 + 2 BEDS3 BATH3 CARPARKRM 723/SQFT...

In [166]:
propNameFilteredDF[propNameFilteredDF['Price'].str.contains('MUST SEE')]

,Property Name,Property Location,Price,Property Info
2,DESA PARKCITY (THE WESTSIDE I),"JALAN RESIDEN UTAMA, DESA PARKCITY, KUALA LUMPUR","RM 1,450,000MUST SEE",Non Landed2 + 2 beds2 bath2 carparkRM 782/sqft...
3,TAMAN KINTAMAN,"KLANG, SELANGOR","RM 340,000MUST SEE",Landed4 beds2 bathRM 412/sqft825 sqft
4,BANDAR MAHKOTA CHERAS,"PERSIARAN MAHKOTA CHERAS, CHERAS, SELANGOR","RM 510,299MUST SEE",Landed4 + 1 beds4 bath2 carparkRM -- sqft
5,KOTA WARISAN,"JALAN WARISAN MULIA 4/1, KOTA WARISAN, SEPANG,...","RM 451,277MUST SEE",Landed4 + 1 beds4 bath2 carparkRM -- sqft
6,"DUTA VILLA, PUTRAJAYA","JALAN P14A 1/1, PRESINT 14, PUTRAJAYA, SELANGOR","RM 438,900MUST SEE",Landed4 + 1 beds4 bath2 carparkRM -- sqft
...,...,...,...,...
4132,TAMAN MALURI,"JALAN WIRA, CHERAS, KUALA LUMPUR","RM 448,000MUST SEE",Non Landed3 beds2 bath1 carparkRM 497/sqft900 ...
4133,EKOCHERAS,"JALAN CHERAS, CHERAS, KUALA LUMPUR","RM 420,000MUST SEE","Non Landed3 beds2 bathRM 420/sqft1,000 sqft"
4134,LAMAN MIDAH,"JALAN MIDAH 8, TAMAN MIDAH, CHERAS, KUALA LUMPUR","RM 450,000MUST SEE",Non Landed3 beds2 bathRM 507/sqft887 sqft
4135,EKOCHERAS,"JALAN CHERAS, CHERAS, KUALA LUMPUR","RM 528,888MUST SEE","Non Landed3 beds2 bathRM 528/sqft1,000 sqft"
4136,V RESIDENCE SUITES @ SUNWAY VELOCITY,"JALAN CHERAS, CHERAS, KUALA LUMPUR","RM 436,000MUST SEE",Non Landed3 beds2 bathRM 458/sqft950 sqft

### Clean Property Info

In [173]:
propType = ['LANDED','NON LANDED']

In [174]:
propNameFilteredDF['Property Info'] = propNameFilteredDF['Property Info'].str.upper()

C:\Users\mapro\AppData\Local\Temp\ipykernel_32936\1646321241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  propNameFilteredDF['Property Info'] = propNameFilteredDF['Property Info'].str.upper()

In [179]:
propNameFilteredDF.loc[2][3]

'NON LANDED2 + 2 BEDS2 BATH2 CARPARKRM 782/SQFT1,852 SQFT'

In [181]:
propNameFilteredDF[propNameFilteredDF['Property Info'].str.contains('-- SQFT')]

,Property Name,Property Location,Price,Property Info
4,BANDAR MAHKOTA CHERAS,"PERSIARAN MAHKOTA CHERAS, CHERAS, SELANGOR","RM 510,299MUST SEE",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
5,KOTA WARISAN,"JALAN WARISAN MULIA 4/1, KOTA WARISAN, SEPANG,...","RM 451,277MUST SEE",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
6,"DUTA VILLA, PUTRAJAYA","JALAN P14A 1/1, PRESINT 14, PUTRAJAYA, SELANGOR","RM 438,900MUST SEE",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
7,TAMAN SUNGAI BESI INDAH,"JALAN SB INDAH 3/7, SERI KEMBANGAN, SELANGOR","RM 438,200MUST SEE",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
8,CYBERJAYA,"PERSIARAN APEC, PERSIARAN MULTIMEDIA, CYBERJAY...","RM 438,900MUST SEE",LANDED4 + 1 BEDS4 BATH2 CARPARKRM -- SQFT
...,...,...,...,...
24380,USJ 3,"JALAN USJ 3/1, USJ, SELANGOR","RM 398,888",LANDED4 BEDS4 BATHRM -- SQFT
24381,SECTION 19 (SEKSYEN 19) @ SHAH ALAM,"SHAH ALAM, SELANGOR","RM 376,530",LANDED4 BEDS4 BATHRM -- SQFT
24386,TAMAN SUNGAI BESI,"JALAN 1/108C, SALAK SELATAN, KUALA LUMPUR","RM 426,500",LANDED4 BEDS4 BATHRM -- SQFT
24630,BANDAR BARU SALAK TINGGI,"OFF ROAD 820, 43900 SEPANG, SEPANG, SELANGOR","RM 499,000",LANDED4 BEDS3 BATHRM -- SQFT
24631,SALAK,"BANGI, SELANGOR","RM 550,000",LANDED4 BEDS9 BATH2 CARPARKRM -- SQFT